<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="LocalFeed" value="%USERPROFILE%\.nuget.local" />
        <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageRestore>
        <add key="enabled" value="True" />
    </packageRestore>
    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>
    <!-- LocalFeed has to be disabled as it does not set up on a build server -->
    <disabledPackageSources>
        <add key="LocalFeed" value="true" />
    </disabledPackageSources>
</configuration>