@inherits PoeShared.Blazor.BlazorReactiveComponent<BasicTimelineEntry>

@if (Track(x => x.ProgressPercent != null))
{
    <ProgressBar Value="@Track(x => x.ProgressPercent ?? 0)" Class="align-self-center mx-2" Style="width: 50px;position: absolute;left: -90px;"/>
}
<div>@DataContext.Text@(DataContext.IsBusy ? "..." : string.Empty)</div>