@inherits PoeShared.Blazor.Controls.TimelineItemBase<ChangesetTimelineEntry>

@if (DataContext.NewTasks.Count <= 0)
{
    @($"{DataContext.Text}{(DataContext.IsBusy ? "..." : string.Empty)}")
}
else
{
    <details>
        <summary>
            @($"{DataContext.Text}{(DataContext.IsBusy ? "..." : string.Empty)}")
        </summary>
        @{
            const int MaxItemsToShow = 10;
        }

        @{
            var totalItems = DataContext.NewTasks.Count;
        }

        @{
            var itemsToShow = Math.Min(MaxItemsToShow, totalItems);
        }

        @{
            var itemsHidden = totalItems - itemsToShow;
            foreach (var fileName in DataContext.NewTasks.Items.Take(itemsToShow))
            {
                <div>@($"{fileName}")</div>
            }

            if (itemsHidden > 0)
            {
                <div>@($"{("item".ToQuantity(itemsHidden))} hidden...")</div>
            }
        }
        }
    </details>
}

@code {

    public ChangesetTimelineItem()
    {
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.NewTasks));
    }

}