@inherits PoeShared.Blazor.Controls.TimelineItemBase<UpdateYoloTimelineEntry>

<div class="d-flex">
    <div class="vstack gap-3">
        <div class="d-flex">
            <div>@(DataContext.Text)@(DataContext.IsBusy ? "..." : string.Empty)</div>
            <ReactiveButton
                Class="btn btn-link h-auto mx-2 p-0"
                HideIfDisabled="true"
                IsEnabled="@(DataContext.CanRequestUpdate && !DataContext.UpdateRequested)"
                Command="@(async () => { DataContext.TimelineController.PerformUpdateOnNextCycle = true; DataContext.UpdateRequested = true; })">
                <i class="fa fa-download fa-fixed"></i>
                install the update
            </ReactiveButton>
        </div>
        @if ((!string.IsNullOrEmpty(DataContext.UpdateText)))
        {
            <span class="alert alert-warning">@((DataContext.UpdateText))</span>
        }
    </div>
</div>

@code {

    public UpdateYoloTimelineItem()
    {
        ChangeTrackers.Add(this, x => x.DataContext.CanRequestUpdate);
        ChangeTrackers.Add(this, x => x.DataContext.UpdateRequested);
        ChangeTrackers.Add(this, x => x.DataContext.UpdateText);
    }

}